<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Internal Server Error</title>

  <style type="text/css">
    body {
      text-align: center;
      font-family: helvetica, arial;
      font-size: 16px;
      color: #888;
      margin: 1.5em;
    }
    pre {
      font-family: Operator, "Source Code Pro", Menlo, Monaco, Inconsolata, monospace;
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
      padding: .75em 1em;
      border-radius: .5em;
      color: #fff;
      background-color: #222;
      overflow: scroll;
    }
    a, a:visited {
      display: inline-block;
      margin: .7em 0;
      font-family: Operator, "Source Code Pro", Menlo, Monaco, Inconsolata, monospace;
      text-decoration: none;
      color: #ccc;
    }
  </style>
</head>

<body>
  <script src="https://cdn.ravenjs.com/3.26.4/raven.min.js"></script>
  <script>
    var showReportDialog = function() {
      Raven.showReportDialog({
        eventId: '<%= Raven.last_event_id %>',
        dsn: '<%= Raven.configuration.dsn %>',
        user: <%= Raven.context.user.to_json %>
      });
    };
  </script>

  <h2>Internal Server Error (500)</h2>

  <%- if production? -%>
    <script>
      showReportDialog();
    </script>
  <%- else -%>
    <pre><%= HTML.escape(ex.inspect_with_backtrace) %></pre>
    <a href="javascript:void(null)" onclick="showReportDialog()">
      ~> ./sentry show report-dialog
    </a>
  <%- end -%>
</body>
</html>
