name: CI

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        crystal: [latest, nightly]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}

      - name: Download source
        uses: actions/checkout@v6

      - name: Install dependencies
        run: shards install

      - name: Run specs
        run: crystal spec

      - name: Run specs (no-debug)
        run: crystal spec --no-debug

      - name: Run specs (release)
        run: crystal spec --release

      - name: Run specs (release, no-debug)
        run: crystal spec --release --no-debug

      - name: Build crash handler
        run: shards build crash_handler

      - name: Build crash handler (release)
        run: shards build crash_handler --release

      - name: Check formatting
        run: crystal tool format --check
        if: success() || failure()

      - name: Run ameba linter
        run: bin/ameba
        if: success() || failure()
